body{
    font-family: sans-serif;
    font-size: 1.125rem;
    font-weight: 400; /* range - > 100-900 i.e lighter to darker*/
    font-style: normal;
    color: #333;
    line-height: 1.6;
}

header{
    text-align: center;
    text-transform: uppercase;
    color: purple;
}

a{
    color: green;
    /* text-decoration: none; */
}

h1{
    text-decoration: underline overline;
    font-weight: 400;
    font-size: 3rem;
}

h2{
    /* font-weight: 400; */
    line-height: 1.1;
}

ul{
    color: purple;
}